#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: black solid 3px;
  height: 95vh;
  margin: 10px;
}

#main-window {
  display: flex;
  flex-direction: column;
  width: 92%;
  height: 95vh;
  background: rgb(245, 245, 245);
}

#top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px 10px 30px;
  height: 10vh;
}

#output-bar {
  display: flex;
  width: 40%;
  flex-grow: 6;
  align-items: center;
  border: 5px black solid;
  padding-left: 20px;
  background: rgb(255, 255, 255);
  height: 80%;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

#output-buttons-container {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  height: 90%;
}

.output-buttons {
  border: solid black 5px;
  font-size: 30px;
  font-weight: bolder;
  width: 50%;
  margin-left: 5%;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

.output-buttons:active, .side-bar-button:active, #output-bar:active, .word-box:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#undo-button {
  background: orange;
}
#clear-button {
  background: red;
}

.word-grid {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 90vh;
}

.word-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
  height: 8vh;
  width: 10%;
  margin-left: 10px;
  background: rgb(247, 237, 156);
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

.row {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  margin: 20px;
}

#side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 8%;
  background: rgb(230, 227, 227);
  border-right: black solid 2px;
}

#lock-button {
  background-color: rgba(128, 128, 128, 0.568);
  border: black solid 2px;
  margin: 20px;
  font-size: 30px;
}

#options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  border-top: black solid 1px;
}

.side-bar-button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: gray solid 1px;
  width: 75%;
  height: 7%;
  margin: 5px 10px;
  background-color: rgb(135, 171, 238);
  border: darkblue solid 2px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}
